body{
    margin:0;
    padding:30px;
    font-family:Arial, Helvetica, sans-serif;
    background:#F8F6F1;
}

.container{

    max-width:700px;
    margin:auto;

    background:white;

    border-radius:20px;

    padding:35px;

    box-shadow:0 10px 30px rgba(0,0,0,.12);

    text-align:center;

}

.logo{

    width:90px;

}

.header{

    display:flex;

    justify-content:center;

    align-items:center;

    gap:35px;

    margin-bottom:25px;

    padding-bottom:20px;

    border-bottom:3px solid #C89B3C;

}

.header img{

    width:95px;

    height:auto;

    transition:transform .3s ease;

}

.header img:hover{

    transform:scale(1.08);

}
h1{

    color:#153E75;

    margin-top:20px;

    margin-bottom:8px;

    font-size:36px;

    line-height:1.2;

    font-weight:bold;

}
h2{

    margin:0;

    color:#C89B3C;

    letter-spacing:1px;

    font-size:22px;

}

.subtitle{

    color:#666;

    margin-top:8px;

    margin-bottom:30px;

    font-size:16px;

}

#reader{

    width:100%;

    border:5px solid #C89B3C;

    border-radius:18px;

    overflow:hidden;

}

#status{

    margin-top:25px;

    padding:18px;

    background:#EEF8EE;

    border-left:6px solid #2E7D32;

    border-radius:12px;

    font-size:18px;

    font-weight:bold;

    color:#2E7D32;

}

.footer{

    margin-top:30px;

    color:#888;

    font-size:13px;

}
